In [15]:
# A client asks you to develop a frost risk model for their strawberry farm in Plant City, Florida.  
# As a first step in that process, you would like to understand the occurrence of these events by month and some information about 
# the atmospheric conditions that generate frost in the location based on climatological records.  
# You remember that your ATMS 523 professor back in graduate school taught you some tricks that might be able to help. 
# Using the code provided from Module 3, load in the GHCN-D daily temperature records from Plant City (Station USC00087205).

In [16]:
import pandas as pd

In [17]:
# Read in all csv files for the station ID USC00087205:

In [5]:
df = pd.read_csv(
...      "s3://noaa-ghcn-pds/csv/by_station/USC00087205.csv",
...      storage_options={"anon": True},  # passed to `s3fs.S3FileSystem`
         dtype={'Q_FLAG': 'object', 'M_FLAG': 'object'},
         parse_dates=['DATE']
... ).set_index('DATE')

/tmp/ipykernel_8366/2031015204.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [18]:
df

                     ID ELEMENT  DATA_VALUE M_FLAG Q_FLAG S_FLAG  OBS_TIME
DATE
1892-09-01  USC00087205    TMAX         322    NaN    NaN      6       NaN
1892-09-02  USC00087205    TMAX         317    NaN    NaN      6       NaN
1892-09-03  USC00087205    TMAX         317    NaN    NaN      6       NaN
1892-09-04  USC00087205    TMAX         322    NaN    NaN      6       NaN
1892-09-05  USC00087205    TMAX         333    NaN    NaN      6       NaN
...                 ...     ...         ...    ...    ...    ...       ...
2025-12-05  USC00087205    PRCP           0    NaN    NaN      H    1600.0
2025-12-06  USC00087205    PRCP           0    NaN    NaN      H    1600.0
2025-12-07  USC00087205    PRCP         185    NaN    NaN      H    1600.0
2025-12-08  USC00087205    PRCP         406    NaN    NaN      H    1600.0
2025-12-09  USC00087205    PRCP           3    NaN    NaN      H    1600.0

[224227 rows x 7 columns]

In [19]:
# Units are temperature values multiplied by 10, and in degrees Celsius

In [20]:
# Strawberries are planted around October 1 and ready for harvest by the end of January. 
# What is the mean risk of frost and freeze, defined as 
# the mean number of days per month over the period 1991-2020 that the temperature has been observed 
# to be less than or equal to 32 and 28 degrees Fahrenheit, respectively, 
# that might damage the plants for each month during the October - January period?

In [21]:
# Use Boolean indexing to create separate dataframes for elements of interest: 
# TMIN (min temperature)

df_tmin = df.loc[df['ELEMENT'] == 'TMIN']

df_tmin

                     ID ELEMENT  DATA_VALUE M_FLAG Q_FLAG S_FLAG  OBS_TIME
DATE
1892-09-01  USC00087205    TMIN         206    NaN    NaN      6       NaN
1892-09-02  USC00087205    TMIN         206    NaN    NaN      6       NaN
1892-09-03  USC00087205    TMIN         211    NaN    NaN      6       NaN
1892-09-04  USC00087205    TMIN         217    NaN    NaN      6       NaN
1892-09-05  USC00087205    TMIN         211    NaN    NaN      6       NaN
...                 ...     ...         ...    ...    ...    ...       ...
2025-12-05  USC00087205    TMIN         178    NaN    NaN      H    1600.0
2025-12-06  USC00087205    TMIN         206    NaN    NaN      H    1600.0
2025-12-07  USC00087205    TMIN         156    NaN    NaN      H    1600.0
2025-12-08  USC00087205    TMIN         172    NaN    NaN      H    1600.0
2025-12-09  USC00087205    TMIN         106    NaN    NaN      H    1600.0

[45415 rows x 7 columns]

In [22]:
# Date is an index, not a column header, so I need to set it as a column header: 

df_tmin = df_tmin.reset_index()

df_tmin

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME
0,1892-09-01,USC00087205,TMIN,206,NaN,NaN,6,NaN
1,1892-09-02,USC00087205,TMIN,206,NaN,NaN,6,NaN
2,1892-09-03,USC00087205,TMIN,211,NaN,NaN,6,NaN
3,1892-09-04,USC00087205,TMIN,217,NaN,NaN,6,NaN
4,1892-09-05,USC00087205,TMIN,211,NaN,NaN,6,NaN
...,...,...,...,...,...,...,...,...
45410,2025-12-05,USC00087205,TMIN,178,NaN,NaN,H,1600.0
45411,2025-12-06,USC00087205,TMIN,206,NaN,NaN,H,1600.0
45412,2025-12-07,USC00087205,TMIN,156,NaN,NaN,H,1600.0
45413,2025-12-08,USC00087205,TMIN,172,NaN,NaN,H,1600.0
45414,2025-12-09,USC00087205,TMIN,106,NaN,NaN,H,1600.0

In [23]:
# Confirm that the date is in a pandas datetime format:

print(df_tmin['DATE'].dtype)

datetime64[ns]

In [24]:
# Create a mask for only the years 1991 - 2020, and only October through January:

mask=((df_tmin['DATE'].dt.year>=1991)&(df_tmin['DATE'].dt.year<=2020)&((df_tmin['DATE'].dt.month>=10)| (df_tmin['DATE'].dt.month==1)))

growingseason=df_tmin.loc[mask].copy()

growingseason

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME
32936,1991-01-01,USC00087205,TMIN,167,NaN,NaN,0,1800.0
32937,1991-01-02,USC00087205,TMIN,183,NaN,NaN,0,1800.0
32938,1991-01-03,USC00087205,TMIN,178,NaN,NaN,0,1800.0
32939,1991-01-04,USC00087205,TMIN,178,NaN,NaN,0,1800.0
32940,1991-01-05,USC00087205,TMIN,172,NaN,NaN,0,1800.0
...,...,...,...,...,...,...,...,...
43613,2020-12-27,USC00087205,TMIN,11,NaN,NaN,7,1600.0
43614,2020-12-28,USC00087205,TMIN,89,NaN,NaN,7,1600.0
43615,2020-12-29,USC00087205,TMIN,117,NaN,NaN,7,1600.0
43616,2020-12-30,USC00087205,TMIN,128,NaN,NaN,7,1600.0
43617,2020-12-31,USC00087205,TMIN,189,NaN,NaN,7,1600.0

In [25]:
# 3617 rows seems roughly correct - 30 years, ~120 days/year

In [26]:
# Daily temp stats (DATA_VALUE) are still in degrees celsius multipled by 10. Divide by 10 to get actual temps in celsius. 

column = ['DATA_VALUE']
growingseason[column] = growingseason[column] / 10

growingseason

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME
32936,1991-01-01,USC00087205,TMIN,16.7,NaN,NaN,0,1800.0
32937,1991-01-02,USC00087205,TMIN,18.3,NaN,NaN,0,1800.0
32938,1991-01-03,USC00087205,TMIN,17.8,NaN,NaN,0,1800.0
32939,1991-01-04,USC00087205,TMIN,17.8,NaN,NaN,0,1800.0
32940,1991-01-05,USC00087205,TMIN,17.2,NaN,NaN,0,1800.0
...,...,...,...,...,...,...,...,...
43613,2020-12-27,USC00087205,TMIN,1.1,NaN,NaN,7,1600.0
43614,2020-12-28,USC00087205,TMIN,8.9,NaN,NaN,7,1600.0
43615,2020-12-29,USC00087205,TMIN,11.7,NaN,NaN,7,1600.0
43616,2020-12-30,USC00087205,TMIN,12.8,NaN,NaN,7,1600.0
43617,2020-12-31,USC00087205,TMIN,18.9,NaN,NaN,7,1600.0

In [27]:
# Now convert to fahrenheit:   F = (C × 1.8) + 32

column = ['DATA_VALUE']
growingseason[column] = growingseason[column] * 1.8 + 32

growingseason

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME
32936,1991-01-01,USC00087205,TMIN,62.06,NaN,NaN,0,1800.0
32937,1991-01-02,USC00087205,TMIN,64.94,NaN,NaN,0,1800.0
32938,1991-01-03,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0
32939,1991-01-04,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0
32940,1991-01-05,USC00087205,TMIN,62.96,NaN,NaN,0,1800.0
...,...,...,...,...,...,...,...,...
43613,2020-12-27,USC00087205,TMIN,33.98,NaN,NaN,7,1600.0
43614,2020-12-28,USC00087205,TMIN,48.02,NaN,NaN,7,1600.0
43615,2020-12-29,USC00087205,TMIN,53.06,NaN,NaN,7,1600.0
43616,2020-12-30,USC00087205,TMIN,55.04,NaN,NaN,7,1600.0
43617,2020-12-31,USC00087205,TMIN,66.02,NaN,NaN,7,1600.0

In [29]:
# Add month column to be able to count freeze days per month
growingseason['MONTH']=growingseason['DATE'].dt.strftime('%m')

growingseason

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME,MONTH
32936,1991-01-01,USC00087205,TMIN,62.06,NaN,NaN,0,1800.0,01
32937,1991-01-02,USC00087205,TMIN,64.94,NaN,NaN,0,1800.0,01
32938,1991-01-03,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0,01
32939,1991-01-04,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0,01
32940,1991-01-05,USC00087205,TMIN,62.96,NaN,NaN,0,1800.0,01
...,...,...,...,...,...,...,...,...,...
43613,2020-12-27,USC00087205,TMIN,33.98,NaN,NaN,7,1600.0,12
43614,2020-12-28,USC00087205,TMIN,48.02,NaN,NaN,7,1600.0,12
43615,2020-12-29,USC00087205,TMIN,53.06,NaN,NaN,7,1600.0,12
43616,2020-12-30,USC00087205,TMIN,55.04,NaN,NaN,7,1600.0,12
43617,2020-12-31,USC00087205,TMIN,66.02,NaN,NaN,7,1600.0,12

In [38]:
# Define freeze and frost thresholds

#frost
growingseason['FROST']=(growingseason['DATA_VALUE']<=32).astype(int)

#freeze
growingseason['FREEZE']=(growingseason['DATA_VALUE']<=28).astype(int)

growingseason

,DATE,ID,ELEMENT,DATA_VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME,MONTH,FROST,FREEZE
32936,1991-01-01,USC00087205,TMIN,62.06,NaN,NaN,0,1800.0,01,0,0
32937,1991-01-02,USC00087205,TMIN,64.94,NaN,NaN,0,1800.0,01,0,0
32938,1991-01-03,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0,01,0,0
32939,1991-01-04,USC00087205,TMIN,64.04,NaN,NaN,0,1800.0,01,0,0
32940,1991-01-05,USC00087205,TMIN,62.96,NaN,NaN,0,1800.0,01,0,0
...,...,...,...,...,...,...,...,...,...,...,...
43613,2020-12-27,USC00087205,TMIN,33.98,NaN,NaN,7,1600.0,12,0,0
43614,2020-12-28,USC00087205,TMIN,48.02,NaN,NaN,7,1600.0,12,0,0
43615,2020-12-29,USC00087205,TMIN,53.06,NaN,NaN,7,1600.0,12,0,0
43616,2020-12-30,USC00087205,TMIN,55.04,NaN,NaN,7,1600.0,12,0,0
43617,2020-12-31,USC00087205,TMIN,66.02,NaN,NaN,7,1600.0,12,0,0

In [42]:
# Count the number of frost and freeze occurrences each month

monthly_freezes = (growingseason.groupby([growingseason['DATE'].dt.year, growingseason['MONTH']])['FREEZE'].sum().reset_index(name='FREEZES'))

monthly_freezes

     DATE MONTH  FREEZES
0    1991    01        0
1    1991    10        0
2    1991    11        0
3    1991    12        0
4    1992    01        0
..    ...   ...      ...
115  2019    12        0
116  2020    01        0
117  2020    10        0
118  2020    11        0
119  2020    12        0

[120 rows x 3 columns]

In [43]:
# Take average for each month across all years, for overall freeze risk

monthly_freeze_risk = (monthly_freezes.groupby('MONTH')['FREEZES'].mean().reset_index(name='FREEZE RISK'))

monthly_freeze_risk

  MONTH  FREEZE RISK
0    01     0.500000
1    10     0.000000
2    11     0.000000
3    12     0.166667

In [44]:
# Repeat for frost:

monthly_frosts = (growingseason.groupby([growingseason['DATE'].dt.year, growingseason['MONTH']])['FROST'].sum().reset_index(name='FROSTS'))

monthly_frosts

     DATE MONTH  FROSTS
0    1991    01       0
1    1991    10       0
2    1991    11       0
3    1991    12       0
4    1992    01       3
..    ...   ...     ...
115  2019    12       0
116  2020    01       1
117  2020    10       0
118  2020    11       0
119  2020    12       0

[120 rows x 3 columns]

In [45]:
# Take average for each month across all years, for overall frost risk

monthly_frost_risk = (monthly_frosts.groupby('MONTH')['FROSTS'].mean().reset_index(name='FROST RISK'))

monthly_frost_risk

  MONTH  FROST RISK
0    01    1.866667
1    10    0.000000
2    11    0.033333
3    12    0.600000

In [46]:
# January has the highest freeze and frost risk across all months Oct - Jan!